<h2>excel2json</h2>
<div class="section">
    <ui-button class="green" @confirm="onClickUpdate">{{txtUpdate}}</ui-button>
    <ui-button class="green" @confirm="onClickConvert">{{txtConvert}}</ui-button>
</div>
<div class="section">
    <span>{{txtStatus}}</span>
</div>
</hr>
<div v-if="items.length!==0" class="scroll">
    <div class="section">
        <!-- <ul> -->
        <li v-for="(index, item) in items" class="wrapper layout horizontal center justified">
            <span>{{item.name}}</span>
            <div class="wrapper layout horizontal center">
                <ui-button class="green" @confirm="onClickConvertOne(index)">{{txtConvertOne}}</ui-button>
                <i class={{iconStatus[item.status]}}></i>
            </div>
        </li>
        <!-- </ul> -->
    </div>
</div>
<div class="layout vertical center">
    <p v-if="items.length===0">{{txtNoExcel}}</p>
</div>